@use "../../scss/global" as *;
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 245px;
  gap: $gap-sm;
  padding: 10px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: $border-radius-md;
  margin: 10px 0 20px 0;

  .image {
    width: 169px;
    height: 169px;
    object-fit: cover;
    border-radius: $border-radius-md;
  }
}
