@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

.categoryCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: space(sm) 0 space(md);
  padding: space(sm);
  flex-direction: column;
  gap: space(sm);
  cursor: pointer;
  background-color: color(secondary, light);
  border-radius: radius(md);

  .image {
    aspect-ratio: 1 / 1;
    width: fit-content;
    object-fit: cover;
    border-radius: radius(md);
  }

  .title {
    text-align: center;
  }
}
