@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

.categoryCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px;
  padding: 10px;
  flex-direction: column;
  gap: $gap-sm;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: $border-radius-md;

  .image {
    aspect-ratio: 1/1;
    width: fit-content;
    object-fit: cover;
    border-radius: $border-radius-md;
  }

  .title {
    text-align: center;
  }
}
