@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;
@use "@/scss/shared" as *;
@use "sass:map";

section {
  margin: 0 auto;
  padding: space(xl) space(md);
  max-width: map.get($breakpoints, xl);

  .sectionContainer {
    .titleContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: space(xl);

      .title {
        @include media-under(xs) {
          font-size: 30px;
        }
      }
    }
  }
}
/* -------------------------------------------------------------------------- */
/*                              Products Section                              */
/* -------------------------------------------------------------------------- */

.popularProducts {
  .productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: space(lg);

    @include media-under(md) {
      justify-content: center;
    }
  }
}
/* -------------------------------------------------------------------------- */
/*                          Buyer & Producer Section                          */
/* -------------------------------------------------------------------------- */

.buyerProducer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: space(md);

  @include media-under(lg) {
    flex-direction: column;
  }
}
/* -------------------------------------------------------------------------- */
/*                                 Map Section                                */
/* -------------------------------------------------------------------------- */

.mapContainer {
  position: relative;
  border-radius: radius(md);
  width: 100%;
  height: 691px;
  overflow: hidden;

  .map {
    width: 100%;
    height: 100%;
  }
}
/* -------------------------------------------------------------------------- */
/*                               Swiper Section                               */
/* -------------------------------------------------------------------------- */

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: space(lg);
}

:global {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-container {
    margin: 0 auto;
  }
}

* {
  --swiper-pagination-color: #{color(primary, base)};
  --swiper-pagination-bullet-inactive-color: #569d41;
}

:global(.swiper-pagination-bullet-active) {
  width: 16px !important;
  border-radius: radius(md) !important;
}
/* -------------------------------------------------------------------------- */
/*                            Testimonials Section                            */
/* -------------------------------------------------------------------------- */

.testimonials {
  background-color: color(secondary, light);
  margin-top: space(xl);
}
