@use "../../scss/global";
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;
@use "../../scss/shared" as *;

section {
  padding: 20px;
  max-width: $screen-xl;
  margin: 0 auto;

  .title {
    @include media-query($breakpoint-xs) {
      font-size: 30px;
    }
  }

  .mapContainer {
    position: relative;
    width: 100%;
    height: 691px;
    border-radius: $border-radius-md;
    overflow: hidden;

    .map {
      width: 100%;
      height: 100%;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                              Popular Products                              */
/* -------------------------------------------------------------------------- */

.popularProducts {
  .sectionContainer {
    .titleContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    .productsGrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: $gap-md;
      justify-items: center;

      @include media-query($breakpoint-md) {
        justify-content: center;
      }
    }
  }
}
