@use "../../scss/global";
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.section {
  padding: 20px;
  max-width: $screen-xl;
  margin: 0 auto;

  .title {
    margin-bottom: 30px;
  }

  .mapContainer {
    position: relative;
    width: 100%;
    height: 691px;
    border-radius: $border-radius-md;
    overflow: hidden;

    .map {
      width: 100%;
      height: 100%;
    }
  }
}
