@use "@/scss/global";
@use "@/scss/mixins" as *;
@use "@/scss/variables" as *;
@use "@/scss/shared" as *;

.container {
  display: flex;
  position: relative;
  width: 100%;
  padding: space(lg);
  background: color(primary, light);
  border-radius: radius(md);
  min-height: 411px;
  overflow: hidden;

  @include media-under(sm) {
    min-height: 100%;
  }

  @include media-under(xs) {
    width: 100%;
    padding: space(md);
  }

  // Styles pour la version "producer"
  &.producer {
    background: color(neutral, text);
    color: color(neutral, white);

    .content {
      .description {
        @include responsive-width(346px, sm);
      }

      button {
        @include responsive-width(223px, sm);
      }
    }
  }

  .image {
    position: absolute;
    bottom: 0;
    left: 45%;

    @include media-under(sm) {
      bottom: -50px;
      opacity: 0.5 !important;
    }
  }

  .content {
    display: grid;
    position: relative;

    @include media-under(sm) {
      backdrop-filter: blur(1px);
    }

    .title {
      display: flex;
      color: inherit;
      line-height: 40px;
      flex-direction: column;

      @include responsive-width(350px, sm);

      @include media-under(sm) {
        font-size: font-size(xl);
        line-height: 30px;
      }
    }

    .descriptionContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .description {
      color: inherit;
      font-weight: font-weight(normal);
      font-size: font-size(sm);

      @include responsive-width(288px, sm);
    }

    button {
      padding: 12px 48px;

      @include responsive-width(208px, sm);

      @include media-under(sm) {
        margin-top: space(md);
      }
    }
  }
}
