@use "../../scss/global" as *;
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.userButton,
.cartButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  background: none;
  font-size: $font-size-md;

  p {
    @include hide-on-mobile($breakpoint-md);
  }

  img {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    color: $primary-color;

    img {
      filter: brightness(0) saturate(100%) invert(38%) sepia(100%)
        saturate(699%) hue-rotate(113deg) brightness(105%) contrast(98%);
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                PrimaryButton                               */
/* -------------------------------------------------------------------------- */

.primaryButton {
  transition: background-color 0.2s ease-in-out;
  border-radius: $border-radius-md;
  background-color: $primary-color;
  padding: 14px 48px 14px 48px;
  @include font-style(
    $size: $font-size-sm,
    $weight: $font-weight-semibold,
    $color: $color-white
  );

  &:hover {
    background-color: #029751;
  }

  &.light {
    background-color: $color-white;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $color-white;
    }
  }
}
