@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;
@use "@/scss/shared" as *;

.userButton,
.cartButton {
  transition: all 0.2s ease-in-out;
  color: $primary-color;
  padding: 10px;
  border-radius: $border-radius-circle;
  position: relative;

  &:hover {
    background-color: #d4fadd59;
  }

  .quantity {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #e61616;
    color: $color-light;
    font-size: 0.75rem;
    font-weight: bold;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-circle;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
  }
}

/* -------------------------------------------------------------------------- */
/*                                PrimaryButton                               */
/* -------------------------------------------------------------------------- */

.primaryButton {
  transition: background-color 0.2s ease-in-out;
  border-radius: $border-radius-md;
  background-color: $primary-color;
  padding: 14px 48px 14px 48px;
  @include font-style(
    $size: $font-size-sm,
    $weight: $font-weight-semibold,
    $color: $color-white
  );

  &:hover {
    background-color: #029751;
  }

  &.light {
    background-color: $color-white;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $color-white;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                SliderButton                                */
/* -------------------------------------------------------------------------- */

.sliderButton {
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: $border-radius-circle;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    img {
      transform: rotate(180deg);
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                SliderButton                                */
/* -------------------------------------------------------------------------- */

.sliderButton {
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: $border-radius-circle;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    img {
      transform: rotate(180deg);
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 MenuButton                                 */
/* -------------------------------------------------------------------------- */

.menu {
  .icon {
    width: 40px;
    min-width: 35px;
    opacity: 0.9;
  }
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  stroke-linecap: round;
  transition:
    stroke-dasharray 600ms ease,
    stroke-dashoffset 600ms ease,
    stroke 600ms ease;
}

.opened .line {
  stroke: $error-color;
}

.line1,
.line3 {
  stroke-dasharray: 60 207;
}
.opened .line1,
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
.line2 {
  stroke-dasharray: 60 60;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}
