@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;
@use "@/scss/shared" as *;

.producer {
  display: flex;
  flex-direction: column;
  gap: space(xs);

  .producerInfo {
    display: flex;
    gap: space(sm);

    .name {
      @include font-style($size: font-size(xl), $weight: font-weight(bold), $line-height: 32px);
    }

    .profilePhoto {
      border-radius: radius(circle);
      width: 30px;
      height: 30px;
    }
  }

  .producerStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-left: space(md);
    max-width: 140px;

    &.open {
      .dot {
        background-color: status(success, base);
      }

      .statusText {
        color: status(success, base);
      }
    }

    &.closed {
      .dot {
        background-color: status(error, base);
      }

      .statusText {
        color: status(error, base);
      }
    }

    .dot {
      display: inline-block;
      border-radius: radius(circle);
      width: 8px;
      height: 8px;
    }

    .statusText {
      @include font-style($size: font-size(md), $weight: font-weight(normal), $line-height: 16px);
    }
  }
}
