@use "../../scss/global";
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;
@use "../../scss/shared" as *;

.producer {
  display: flex;
  flex-direction: column;
  gap: $gap-xs;

  .producerInfo {
    display: flex;
    gap: $gap-sm;

    .name {
      @include font-style(
        $size: $font-size-xl,
        $weight: $font-weight-bold,
        $line-height: 32px
      );
    }

    .profilePhoto {
      border-radius: $border-radius-circle;
      width: 30px;
      height: 30px;
    }
  }

  .producerStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 19px;
    max-width: 140px;

    &.open {
      .dot {
        background-color: $success-color;
      }
      .statusText {
        color: $success-color;
      }
    }

    &.closed {
      .dot {
        background-color: $error-color;
      }
      .statusText {
        color: $error-color;
      }
    }

    .dot {
      display: inline-block;
      border-radius: $border-radius-circle;
      width: 8px;
      height: 8px;
    }

    .statusText {
      @include font-style(
        $size: $font-size-md,
        $weight: $font-weight-normal,
        $line-height: 16px
      );
    }
  }
}
