@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

.locateUser {
  position: absolute;
  top: 60vh;
  right: 0;
  padding: space(sm);
  box-shadow: shadow(dark);
  z-index: z(dropdown);
  cursor: pointer;
  margin-right: space(md);
  border-radius: radius(circle);
  background-color: color(neutral, white);
  fill: #979797;

  @include media-under(sm) {
    top: 55vh;
  }
}

.locateUser svg {
  width: 24px;
  height: 24px;
}

.active {
  fill: #007bff;
}

.userLocationIcon {
  width: 15px !important;
  height: 15px !important;
  border: 2px solid color(neutral, white);
  box-shadow: shadow(dark);
  border-radius: radius(circle);

  &.active {
    background-color: #007bff;
  }

  &.inactive {
    background-color: #bfbfbf;
  }
}
