@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

.locateUser {
  position: absolute;
  top: 60vh;
  right: 0;
  padding: 10px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  z-index: 9999;
  cursor: pointer;
  margin-right: 20px;
  border-radius: $border-radius-circle;
  background-color: $color-white;
  fill: #979797;
}

.locateUser svg {
  width: 24px;
  height: 24px;
}

.active {
  fill: #007bff;
}

.userLocationIcon {
  width: 15px !important;
  height: 15px !important;
  border: 2px solid $color-white;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  border-radius: 50%;

  &.active {
    background-color: #007bff;
  }

  &.inactive {
    background-color: #bfbfbf;
  }
}
