@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

mapcontainer {
  position: relative;
}

.map {
  width: 100%;
  height: 691px;

  @include media-query($breakpoint-sm) {
    height: 600px;
  }
}
/* ------------------------------------ Leaflet ----------------------------------- */

:global(.leaflet-popup-content-wrapper) {
  width: 100%;
}

:global(.leaflet-popup-content) {
  margin: 0;
  padding: 12px;
  min-width: 270px;
}

:global(.leaflet-touch) :global(.leaflet-control-layers),
:global(.leaflet-touch) :global(.leaflet-bar) {
  margin: 20px 0 0 20px;
  border: none;
  box-shadow: 0 0 15px rgb(0 0 0 / 27%);
  border-radius: 8px;
}

:global(.leaflet-touch) :global(.leaflet-bar) a {
  display: flex;
  align-items: center;
  place-content: center center;
  width: 35px;
  height: 35px;
  background: #ffffffad;
  line-height: 30px;
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(10px);

  &:hover {
    background: $color-white;
  }
}

:global(.leaflet-bar) :global(a.leaflet-disabled) {
  background-color: #e1e1e100 !important;
  color: #bbb;
}
