@use "../../scss/global";
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

MapContainer {
  position: relative;
}

/* ------------------------------------ Leaflet ----------------------------------- */

:global(.leaflet-popup-content-wrapper) {
  width: 100%;
}

:global(.leaflet-popup-content) {
  min-width: 270px;
  padding: 12px;
  margin: 0;
}

:global(.leaflet-touch) :global(.leaflet-control-layers),
:global(.leaflet-touch) :global(.leaflet-bar) {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.27);
  margin: 20px 0 0 20px;
}
:global(.leaflet-touch) :global(.leaflet-bar) a {
  background: #ffffffad;
  backdrop-filter: blur(10px);
  width: 35px;
  height: 35px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $color-white;
  }
}
