@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

mapcontainer {
  position: relative;
}

.map {
  width: 100%;
  height: 691px;
  border-radius: radius(md);

  @include media-under(sm) {
    height: 600px;
  }
}
/* ------------------------------------ Leaflet ----------------------------------- */

:global(.leaflet-popup-content-wrapper) {
  width: 100%;
}

:global(.leaflet-popup-content) {
  margin: 0;
  padding: space(sm);
  min-width: 270px;
}

:global(.leaflet-touch) :global(.leaflet-control-layers),
:global(.leaflet-touch) :global(.leaflet-bar) {
  margin: space(sm) 0 0 space(sm);
  border: none;
  box-shadow: shadow(light);
  border-radius: radius(md);
}

:global(.leaflet-touch) :global(.leaflet-bar) a {
  display: flex;
  align-items: center;
  place-content: center center;
  width: 35px;
  height: 35px;
  background: #ffffffad;
  line-height: 30px;
  transition: all transition(fast) ease-in-out;
  backdrop-filter: blur(10px);

  &:hover {
    background: color(neutral, white);
  }
}

:global(.leaflet-bar) :global(a.leaflet-disabled) {
  background-color: #e1e1e100 !important;
  color: #bbb;
}
