@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;
@use "sass:map";

.footer {
  display: flex;
  align-items: center;
  padding: space(xl) space(xxl);
  background: color(secondary, base);
  color: color(neutral, background);
  flex-direction: column;
  gap: space(lg);

  @include media-under(md) {
    padding: space(xl);
  }

  @include media-under(sm) {
    padding: space(xl) space(md);
  }

  .footerMain {
    max-width: map.get($breakpoints, xl);

    .footerContent {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      gap: space(lg);

      @include media-under(sm) {
        flex-direction: column;
        align-items: center;
      }

      .footerBrand {
        display: flex;
        flex-direction: column;
        gap: space(md);
        width: 24%;

        @include media-under(sm) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }

        .brandInfo {
          display: flex;
          flex-direction: column;
          gap: space(sm);

          @include media-under(sm) {
            align-items: center;
          }

          .logo {
            width: fit-content;
          }

          .description {
            color: color(neutral, background);
            font-weight: font-weight(normal);
            font-size: font-size(sm);

            @include media-under(sm) {
              text-align: center;
            }
          }
        }

        .socialLinks {
          display: flex;
          gap: space(md);

          .socialIcon {
            transition: all transition(normal);

            &:hover {
              cursor: pointer;

              @include icon-light-filter;
            }
          }
        }
      }

      .footerLinks {
        display: flex;
        gap: space(xxxl);

        @include media-under(sm) {
          flex-direction: column;
          gap: space(lg);
        }

        .linksColumn {
          display: flex;
          flex-direction: column;
          gap: space(md);

          @include media-under(sm) {
            align-items: center;

            &:last-child {
              display: none;
            }
          }

          .columnTitle {
            color: color(neutral, white);
            font-weight: font-weight(semibold);
            font-size: font-size(md);
          }

          .linksList {
            display: flex;
            flex-direction: column;
            gap: space(sm);

            @include media-under(sm) {
              text-align: center;
            }

            .linkItem {
              color: color(neutral, background);
              font-weight: font-weight(normal);
              font-size: font-size(sm);
              transition: all transition(normal);

              &:hover {
                cursor: pointer;
                color: color(primary, base);
              }
            }
          }
        }
      }
    }
  }

  .footerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid color(neutral, background);
    padding-top: 15px;
    max-width: map.get($breakpoints, xl);

    @include media-under(sm) {
      flex-direction: column-reverse;
      gap: space(md);
    }

    .copyright {
      color: color(neutral, background);
      font-weight: font-weight(normal);
      font-size: font-size(sm);
    }

    .paymentMethods {
      display: flex;
      gap: space(md);

      @include media-under(sm) {
        justify-content: space-around;
        width: 100%;
      }

      .paymentIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 34px;
        border-radius: 6px;
        background-color: color(neutral, white);
      }
    }
  }
}
