@use "../../scss/global";
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.footer {
  background: rgb(16, 16, 16);
  color: $color-light;
  padding: 40px 80px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  .footerMain {
    max-width: $screen-xl;

    .footerContent {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;

      .footerBrand {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 24%;

        .brandInfo {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .logo {
            width: fit-content;
          }

          .description {
            @include font-style($size: $font-size-sm, $weight: $font-weight-normal, $color: $color-light);
          }
        }

        .socialLinks {
          display: flex;
          gap: 20px;

          .socialIcon {
            transition: all 0.2s ease-in-out;
            &:hover {
              cursor: pointer;
              @include icon-light-filter;
            }
          }
        }
      }

      .footerLinks {
        display: flex;

        gap: 80px;

        .linksColumn {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .columnTitle {
            @include font-style($size: $font-size-md, $weight: $font-weight-semibold, $color: $color-white);
          }

          .linksList {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .linkItem {
              @include font-style($size: $font-size-sm, $weight: $font-weight-normal, $color: $color-light);
              transition: all 0.2s ease-in-out;
              &:hover {
                cursor: pointer;
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }

  .footerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $color-light;
    max-width: $screen-xl;
    width: 100%;
    padding-top: 15px;

    .copyright {
      @include font-style($size: $font-size-sm, $weight: $font-weight-normal, $color: $color-light);
    }

    .paymentMethods {
      display: flex;
      gap: 20px;

      .paymentIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        width: 50px;
        height: 34px;
        border-radius: 6px;
      }
    }
  }
}
