@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

.footer {
  display: flex;
  align-items: center;
  padding: 40px 80px;
  background: rgb(16 16 16);
  color: $color-light;
  flex-direction: column;
  gap: $gap-lg;

  @include media-query($breakpoint-md) {
    padding: 40px;
  }

  @include media-query($breakpoint-sm) {
    padding: 40px 20px;
  }

  .footerMain {
    max-width: $screen-xl;

    .footerContent {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      gap: $gap-lg;

      @include media-query($breakpoint-sm) {
        flex-direction: column;
        align-items: center;
      }

      .footerBrand {
        display: flex;
        flex-direction: column;
        gap: $gap-md;
        width: 24%;

        @include media-query($breakpoint-sm) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }

        .brandInfo {
          display: flex;
          flex-direction: column;
          gap: $gap-sm;

          @include media-query($breakpoint-sm) {
            align-items: center;
          }

          .logo {
            width: fit-content;
          }

          .description {
            @include font-style($size: $font-size-sm, $weight: $font-weight-normal, $color: $color-light);

            @include media-query($breakpoint-sm) {
              text-align: center;
            }
          }
        }

        .socialLinks {
          display: flex;
          gap: $gap-md;

          .socialIcon {
            transition: all 0.2s ease-in-out;

            &:hover {
              cursor: pointer;

              @include icon-light-filter;
            }
          }
        }
      }

      .footerLinks {
        display: flex;
        gap: 80px;

        @include media-query($breakpoint-sm) {
          flex-direction: column;
          gap: $gap-lg;
        }

        .linksColumn {
          display: flex;
          flex-direction: column;
          gap: $gap-md;

          @include media-query($breakpoint-sm) {
            align-items: center;

            &:last-child {
              display: none;
            }
          }

          .columnTitle {
            @include font-style($size: $font-size-md, $weight: $font-weight-semibold, $color: $color-white);
          }

          .linksList {
            display: flex;
            flex-direction: column;
            gap: $gap-sm;

            @include media-query($breakpoint-sm) {
              text-align: center;
            }

            .linkItem {
              @include font-style($size: $font-size-sm, $weight: $font-weight-normal, $color: $color-light);

              transition: all 0.2s ease-in-out;

              &:hover {
                cursor: pointer;
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }

  .footerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid $color-light;
    padding-top: 15px;
    max-width: $screen-xl;

    @include media-query($breakpoint-sm) {
      flex-direction: column-reverse;
      gap: $gap-md;
    }

    .copyright {
      @include font-style($size: $font-size-sm, $weight: $font-weight-normal, $color: $color-light);
    }

    .paymentMethods {
      display: flex;
      gap: $gap-md;

      @include media-query($breakpoint-sm) {
        justify-content: space-around;
        width: 100%;
      }

      .paymentIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 34px;
        border-radius: 6px;
        background-color: $color-white;
      }
    }
  }
}
