@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;
@use "@/scss/shared" as *;

.testimonials {
  @include media-under(xs) {
    :nth-child(1) {
      text-align: center;

      #arrow-container {
        display: none;
      }
    }
  }

  .swiper {
    padding-bottom: space(xl) !important;
  }

  .swiper-wrapper {
    align-items: center;
  }
}
