@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

.testimonial {
  display: flex;
  justify-content: space-between;
  width: 100%;

  // height: 246px;
  padding: space(md);
  flex-direction: column;
  gap: space(sm);
  border-radius: radius(md);
  background-color: color(neutral, white);

  .content {
    display: flex;
    flex-direction: column;
    gap: space(md);

    .icon {
      width: 32px;
      height: 26px;
    }

    .text {
      @include font-style($size: font-size(sm), $weight: font-weight(normal), $color: color(neutral, text));
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: space(lg);

    .author {
      display: flex;
      align-items: center;
      gap: space(sm);

      .profile {
        width: 56px;
        height: 56px;
        border-radius: radius(circle);
      }
    }

    .rating {
      display: flex;
      align-items: center;
      gap: space(xs);
    }
  }
}
