@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;
@use "@/scss/shared" as *;

.testimonials {
  @include media-query($screen-xs) {
    :nth-child(1) {
      text-align: center;

      #arrow-container {
        display: none;
      }
    }
  }

  .swiper {
    padding-bottom: 50px !important;
  }
}
