@use "@/scss/global";
@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;
@use "@/scss/shared" as *;
@use "@/pages/HomePage/HomePage.module";

.arrowContainer {
  display: flex;
  align-items: center;
  gap: space(sm);
}
