@use "../../scss/global";
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: $color-white;
  z-index: $z-index-header;
  position: fixed;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  @include media-query($screen-md) {
    padding-bottom: 10px;
  }

  &.compactMode {
    @include media-query($screen-md) {
      padding-bottom: 0;

      .searchBar {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition:
          opacity 0.2s ease-in-out,
          max-height 0.2s ease-in-out;
      }
    }

    .container {
      padding: 5px 16px;

      @include media-query($screen-md) {
        gap: 0;
      }
    }
  }

  .topBanner {
    display: flex;
    justify-content: space-between;
    gap: $gap-xl;
    width: 100%;
    padding: 6px 20px;
    background: linear-gradient(to right, #f0fdf4, #dcfce7);

    @include media-query($screen-xs) {
      gap: 0;
      padding: 6px;
    }

    .separator {
      width: 1px;
      height: 1rem;
      background-color: $separator-color;

      &.separatorMobileOnly {
        display: none;

        @include media-query($screen-xs) {
          display: block;
        }
      }
    }

    .leftContainer,
    .rightContainer {
      display: flex;
      align-items: center;
      gap: $gap-md;

      @include media-query($screen-xs) {
        gap: 0;
        justify-content: space-evenly;
        width: 100%;
      }
    }

    .button {
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: system-ui;
      font-size: 0.75rem;
      font-weight: 400;
      color: $text-color;
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        color: $primary-color;
      }

      .icon {
        color: $primary-color;
      }

      @include media-query($screen-xs) {
        gap: $gap-xs;
      }
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5px;
  max-width: $screen-xl;
  width: 100%;
  margin: 0 auto;
  gap: $gap-md;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  @include media-query($screen-md) {
    flex-wrap: wrap;
    padding: 10px 15px 0;
    gap: 11px;
  }

  .leftContainer {
    display: flex;
    align-items: center;
    gap: $gap-md;

    // X

    @include media-query($screen-md) {
      gap: $gap-sm;
      justify-content: space-between;
      width: 100%;
    }

    .mobileNav {
      display: none;

      @include media-query($screen-md) {
        display: flex;
      }
    }

    .leftContainerInner {
      display: flex;
    }
  }

  .logo {
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(0.9);

    @include media-query($screen-md) {
      width: 200px;
    }
  }

  .searchBar {
    opacity: 1;
    max-height: 100px;
    display: flex;
    margin-right: auto;
    transition:
      opacity 0.2s ease-in-out,
      max-height 0.2s ease-in-out;
  }

  nav {
    display: flex;
    align-items: center;
    gap: $gap-md;
    margin-left: 20px;
    @include hide-on-mobile($screen-md);

    @include media-query($screen-md) {
      gap: 7px;
      margin-left: 0;

      img {
        width: 25px;
      }
    }
  }
}
