@use "../../scss/global" as *;
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.searchBar {
  display: flex;
  margin-right: auto;
  .searchInput {
    border: none;
    border-radius: $border-radius-md 0 0 $border-radius-md;
    padding: 10px 20px;
    @include font-style($size: $font-size-md, $weight: $font-weight-medium);
    transition: all 0.3s ease;
    outline: none;
    background-color: rgb(242, 242, 242);
    width: 400px;
    max-width: 400px;

    @include media-query($breakpoint-md) {
      outline: 1px solid $border-color;
      border-radius: $border-radius-md;
      background-color: #ffffff;
      padding: 10px 20px;
      width: 94vw;
      max-width: none;
    }
  }

  button {
    transition: all 0.2s ease;
    margin-left: -8px;
    border-radius: $border-radius-md;
    background-color: $primary-color;
    padding: 8px 9px 9px 8px;

    img {
      transition: all 0.2s ease;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    @include hide-on-mobile($breakpoint-md);
  }
}
