@use "../../scss/global" as *;
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.searchBar {
  display: flex;
  margin-right: auto;
  position: relative;

  .searchInputContainer {
    .searchInput {
      width: 400px;
      padding: 0.5rem 1rem;
      border: none;
      border: 1px solid $border-color;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: $border-radius-md;

      @include font-style($size: $font-size-md, $weight: $font-weight-medium);

      &::placeholder {
        @include font-style($size: $font-size-sm, $weight: $font-weight-normal, $color: $placeholder-color);
      }

      &:focus {
        outline: 2px solid $primary-color;
        width: 450px;
      }

      @include media-query($breakpoint-md) {
        background-color: #fff;
        border-radius: $border-radius-md;
        outline: 1px solid $border-color;
        width: 94vw;
        max-width: none;
        padding: 10px 20px;

        &:focus {
          width: 94vw;
        }
      }
    }

    button {
      position: absolute;
      top: 50%;
      right: 0;
      padding: 11px 15px 11px 14px;
      transition: all 0.2s ease;
      transform: translateY(-50%);
      background-color: $primary-color;
      border-radius: 0 $border-radius-md $border-radius-md 0;

      .icon {
        color: $color-white;
        transition: all 0.2s ease;
      }

      &:hover {
        background-color: #049b52;

        .icon {
          transform: scale(1.2);
        }
      }

      @include hide-on-mobile($screen-md);
    }
  }
}
