@use "../../scss/global" as *;
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.searchBar {
  display: flex;
  margin-right: auto;
  .searchInputContainer {
    .searchInput {
      border: none;
      border-radius: $border-radius-md;
      padding: 0.5rem 1rem 0.5rem 1rem;
      @include font-style($size: $font-size-md, $weight: $font-weight-medium);
      border: 1px solid $border-color;
      max-width: 400px;
      width: 400px;

      &::placeholder {
        @include font-style($size: $font-size-sm, $weight: $font-weight-normal, $color: $placeholder-color);
      }

      &:focus {
        outline: 2px solid $primary-color;
      }

      @include media-query($breakpoint-md) {
        background-color: #ffffff;
        border-radius: $border-radius-md;
        outline: 1px solid $border-color;
        width: 94vw;
        max-width: none;
        padding: 10px 20px;
      }
    }

    button {
      background-color: $primary-color;
      border-radius: 0 $border-radius-md $border-radius-md 0;
      padding: 11px 15px 11px 14px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      transition: all 0.3s ease;

      .icon {
        color: $color-white;
        transition: all 0.3s ease;
      }

      &:hover {
        background-color: #159258;
        .icon {
          transform: scale(1.2);
        }
      }

      @include hide-on-mobile($breakpoint-md);
    }
  }

  position: relative;
}
