@use "../../scss/global" as *;
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  max-width: none;
  height: 90vh;
  overflow: hidden;
  color: $color-white;

  &::before {
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    left: -5px;
    z-index: 1;
    background-image: url("../../assets/images/hero-banner.png");
    background-position: center;
    background-size: cover;
    content: "";
  }

  .container {
    width: 100%;
    max-width: 1400px;

    .content {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: $gap-lg;
      z-index: 2;

      h1 {
        display: flex;
        flex-direction: column;
      }

      @include media-query($breakpoint-sm) {
        align-items: center;
        text-align: center;

        h1 {
          font-size: 38px;
          line-height: normal;
        }
      }

      @include media-query($breakpoint-xs) {
        h1 {
          font-size: 32px;
        }
      }
    }
  }
}

@keyframes blurAnimation {
  0% {
    backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(2px);
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  animation: blurAnimation 3s ease-in-out forwards;
  width: 65rem;
}
