@use "variables" as *;

// Font style mixin
@mixin font-style(
  $family: $font-family,
  $size: $font-size-md,
  $weight: normal,
  $color: $text-color,
  $line-height: 1.5
) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
}

// Media Query
@mixin media-query($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
// Hide Elements Responsively
@mixin hide-on-mobile($breakpoint: $breakpoint-xs) {
  @include media-query($breakpoint) {
    display: none;
  }
}

// Responsive Width
@mixin responsive-width($width, $breakpoint) {
  width: $width;

  @include media-query($breakpoint) {
    width: 100%;
  }
}

// Icon filters
@mixin icon-dark-filter() {
  filter: brightness(0) saturate(100%) invert(38%) sepia(100%) saturate(699%) hue-rotate(113deg) brightness(105%)
    contrast(98%);
}

@mixin icon-light-filter() {
  filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(7%) hue-rotate(205deg) brightness(115%)
    contrast(92%);
}

@mixin icon-hover-filter() {
  filter: brightness(0) saturate(100%) invert(38%) sepia(100%) saturate(699%) hue-rotate(113deg) brightness(105%)
    contrast(98%);
}
