@use "variables" as *;
@use "mixins" as *;

.moreInfo {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;

  cursor: pointer;
  transition: all 0.1s ease-in-out;

  .moreInfoText {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: $primary-color;
  }

  &:hover {
    transform: translateX(5px);
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Arrow                                   */
/* -------------------------------------------------------------------------- */
.arrowContainer {
  display: flex;
  align-items: center;
  gap: $gap-sm;

  .arrow {
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: $border-radius-circle;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      img {
        transform: rotate(180deg);
      }
    }
  }
}
