@use "variables" as *;
@use "mixins" as *;

.moreInfo {
  display: flex;
  align-items: center;
  justify-content: end;
  transition: all 0.1s ease-in-out;
  gap: 15px;
  cursor: pointer;

  .moreInfoText {
    color: $primary-color;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  &:hover {
    transform: translateX(5px);
  }
}
