// Colors
$primary-color: #1ab66d;
$secondary-color: #d4fadd;
$background-color: #fdfdfd;
$text-color: #212529;
$border-color: #e3e6e9;
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #171717;
$color-light: #f5f5f5;
$placeholder-color: #9ca3af;

// Status Colors
$success-color: #00b800;
$error-color: #ff0000;
$warning-color: #ffa700;

// Font Styles
$font-family: "Inter", sans-serif;

// Font Sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-base: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 36px;

// Font Weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

// Gaps
$gap-xs: 5px;
$gap-sm: 10px;
$gap-md: 20px;
$gap-lg: 30px;
$gap-xl: 40px;

// Border Radius
$border-radius-sm: 3px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-radius-circle: 50%;

// Shadows
$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.3);

// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
// $breakpoint-md: 992px;
$breakpoint-md: 1078px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;

// Screen Sizes
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
